<div class="register">
    <form (ngSubmit)="handleOnRegister()">
        <div>
            <label for="login"> login: </label>
            <app-input id="login" [type]="'text'" [styles]="{width: '200px'}" [formControl]="login"></app-input>
        </div>

        <div>
            <label for="password"> password: </label>
            <app-input id="password" [type]="'password'" [styles]="{width: '200px'}" [formControl]="password"></app-input>
        </div>

        <div>
            <app-button value="register" [disabled]="!disabled"
                [styles]="{position: 'relative',display: 'block','margin-left': 'auto'}"
            ></app-button>
        </div>
    </form>
</div>