/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --height-header: 50px;

    --primary-dark-color: #004D40;
    --primary-dark-bc-color: #212121;
    --primary-dark-txt-color: #eee;
    --secondary-dark-color: #E64A19;

    --warning-color: red;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.wrapper {
    background-color: var(--primary-dark-bc-color);
    min-height: calc(100vh - var(--height-header)); 
}